/* Estilos de página */

/*Estrellas*/
.text-muted {
    color: #236863!important;
}

/*Texto de los items*/
a {
    color: #236863;
    text-decoration: none;
    background-color: transparent;
}

.text-center {
    text-align: center !important;
}

.card-title{
  font-size: 20px;
}

.list-group{
  font-size: 16px;
}


/* Arreglar icono-texto */
.fas{
	margin-right: 20px;
}

main.py-4{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.col-lg-3{
  padding-top: 50px;
}

.col-lg-4{
  padding-top: 50px;
}


/* Filtrados */
.card-header{
  padding: 0px;
  color: #236863;
  text-decoration: none;
  background-color: transparent;
}

.button-all{
  color: #fff;
  background-color: #fff;
  border-color: #fff;
  padding-top: 1rem;
  font-size: 1rem;
}

h3, .h3 {
    font-size: 1rem;
}

.btn.filtro-button{
  background-color: #236863!important;
  border-color: #236863!important;
  font-size: 1rem;
}

div.card-body{
  background-color: #fff;
}



