/* Estilos de página */

/*Estrellas*/
.text-muted {
    color: #236863!important;
}

/*Texto de los items*/
a {
    color: #236863;
    text-decoration: none;
    background-color: transparent;
}

.text-center {
    text-align: center !important;
}

.card-title{
  font-size: 20px;
}

.list-group{
  font-size: 16px;
}


/* Arreglar icono-texto */
.fas{
	margin-right: 20px;
}

main.py-4{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.col-lg-3{
  padding-top: 50px;
}

.col-lg-4{
  padding-top: 50px;
}


