// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//RestaurantView
@import 'restaurantViewCss';

//PrincipalPage
@import 'principalPage';

.navbar-pedidosRightNow{
	background-color: #438b87!important;
	padding: 0px!important;
	padding-bottom: 0px!important;
}

a.navbar-brand {
 	padding: 0px;
}

.navbar-brand>img {
max-height: 50px;
}

.navbar-light .navbar-nav .nav-link{
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-size: 16px;
	padding: 20px;
}

.navbar{
	margin-bottom: 0px;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus{
	background-color: rgba(35,104,99,0.9);
	color: #fff;
}