/* Estilos de página */

/*Estrellas*/
.text-muted {
    color: #236863!important;
}

/*Texto de los items*/
a {
    color: #236863;
    text-decoration: none;
    background-color: transparent;
}

main.py-4{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.text-center {
    text-align: center !important;
}

.list-group{
  font-size: 16px;
}


/* Botón de agregar al carrito */
.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgb(83,137,133);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.btn{
	color: #fff;
}

.button-carrito{
  padding: 0rem;
  background-color:#236863!important; 
}

/* Arreglar icono-texto */
.fas{
	margin-right: 20px;
}

/* Carrito de compras */

.card-body-chart{
  padding: 0px;
}

.btn-primary{
  background-color: #236863;
  width: 100%;
}

.card-header{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #fff;
  background-color: rgb(83,137,133);

}

.card-header{
  padding: 10px;
}